{% extends 'base.html.twig' %}

{% block title %}Edit Duty{% endblock %}

{% block body %}
    <h1>Edit Duty</h1>

    {{ include('duty/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('duty_index') }}">back to list</a>

    {{ include('duty/_delete_form.html.twig') }}
{% endblock %}
