{% extends 'base.html.twig' %}

{% block title %}New Duty{% endblock %}

{% block body %}
    <h1>Create new Duty</h1>

    {{ include('duty/_form.html.twig') }}

    {% if formType != "" %}
        <div style="background-color: pink;">
            {{form(formType)}}
        </div>
    {% endif %}

    <a href="{{ path('duty_new', { 'type': true } ) }}">Ajouter mon type d'annonce</a>

    <a href="{{ path('member_duties', { 'id': app.user.id } ) }}">Retourner à "Mes Annonces"</a>
{% endblock %}
