{% extends 'base.html.twig' %}

{% block title %}New Duty{% endblock %}

{% block body %}
    <h1>Create new Duty</h1>

    {{ include('duty/_form.html.twig') }}

    <a href="{{ path('duty_index') }}">back to list</a>
{% endblock %}
