.btn-primary {
  background-color: $primary;
  color: $white;
  border: $primary;

  &:hover {
    background-color: $lightBlue;
  }

  &:focus {
    background-color: $primary;
    color: $white;
    border: $primary;
    box-shadow: none;
  }
}
.btn-secondary {
  background-color: $secondary;
  color: $white;
  border: $secondary;

  &:hover {
    background-color: $lightBlue;
  }

  &:focus {
    background-color: $secondary;
    color: $white;
    border: $secondary;
    box-shadow: none;
  }
}
.btn-accent {
  background-color: $accent;
  color: $white;
  border: $accent;

  &:hover {
    background-color: $lightBlue;
  }

  &:focus {
    background-color: $accent;
    color: $white;
    border: $accent;
    box-shadow: none;
  }
}
.btn-turquoise {
  background-color: $turquoise;
  color: $white;
  border: $turquoise;

  &:hover {
    background-color: $lightBlue;
  }

  &:focus {
    background-color: $turquoise;
    color: $white;
    border: $turquoise;
    box-shadow: none;
  }
}
.btn-danger {
  background-color: $danger;
  color: $white;
  border: $danger;

  &:hover {
    background-color: $gray;
    color: $white;
  }

  &:focus {
    background-color: $danger;
    color: $white;
    border: $danger;
    box-shadow: none;
  }
}
.btn-white {
  background-color: $white;
  color: $primary;
  border: $white;

  &:hover {
    background-color: $lightGray;
    color: $gray;
  }

  &:focus {
    background-color: $white;
    color: $primary;
    border: $white;
    box-shadow: none;
  }
}
.btn-green {
  background-color: $lightGreen;
  color: $white;
  border: $lightGreen;

  &:hover {
    background-color: $green;
    color: $white;
  }

  &:focus {
    background-color: $lightGreen;
    color: $white;
    border: $lightGreen;
    box-shadow: none;
  }
}