/* ---------- Intégration typographie Raleway ---------- */
@font-face {
  font-family: "Raleway Regular";
  src: url("../fonts/Raleway/Raleway-Regular.ttf");
}
@font-face {
  font-family: "Raleway Italic";
  src: url("../fonts/Raleway/Raleway-Italic.ttf");
}
@font-face {
  font-family: "Raleway SemiBold";
  src: url("../fonts/Raleway/Raleway-SemiBold.ttf");
}

/* ---------- Intégration typographie Open Sans ---------- */
@font-face {
  font-family: "Open Sans SemiBold";
  src: url("../fonts/Open_Sans/OpenSans-SemiBold.ttf");
}