#BoiteASel-header {
  background-color: $white;
  padding: 0.5em 1em;

  .navbar-toggler-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;

    i {
      color: $primary;
    }
  }

  .nav-link {
    color: $secondary;

    &:hover {
      color: $gray;
    }
  }

  #nav-money {
    background-color: $primary;
    color: $white;
    padding: 8px;
    border-radius: 0.5rem;
  }

  .dropdown-menu {
    padding: 0;

    .dropdown-item {
      color: $secondary;
      padding: 5px;

      &:hover {
        background-color: $lightBlue;
        color: $white;
      }
    }
  }

  #notifications_nav {
    .dropdown-item {
      padding: 0.2rem 1rem;
    }
  }
}