#login_page {
  padding: 5rem 0;

  #login_form {
    background-color: $white;
    margin: 2em auto;
    border-radius: 0.2em;
    padding: 2em;

    label {
      margin-bottom: 5px;
    }
  }
}