$blue: #13BAD4;
$cyan: #1CBEC9;
$turquoise: #20D6E3;
$lightBlue: #66D6DE;
$green: #00AE22;
$lightGreen: #91DB91;
$red: #E64348;
$gray: #343434;
$lightGray: #F9F9F9;
$white: #FFFFFF;

$primary: $cyan;
$secondary: $blue;
$accent: $lightBlue;
$success: $green;
$danger: $red;