@import "fonts";
@import "variables";

@import "badge";
@import "button";
@import "text";

* {
    padding: 0;
    margin: 0;
}

body {
    height: 100%;
    background-color: $lightGray;
    font-family: "Raleway Regular";
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* ---------- CSS BoiteASel Header ---------- */
@import "header";

/* ---------- CSS BoiteASel Body ---------- */
@import "admin_dashboard";
@import "admin_duties";
@import "admin_dutytypes";
@import "admin_members";

@import "conversation";
@import "duties";
@import "home";
@import "login";
@import "my_duties";
@import "my_profile";
@import "notifications";
@import "swal";

/* ---------- CSS BoiteASel Footer ---------- */
h1, h2, h3, h4, h5 {
    font-family: "Open Sans SemiBold";
}

.bg-primary {
    background-color: $primary !important;
}
.bg-secondary {
    background-color: $secondary !important;
}
.bg-accent {
    background-color: $accent !important;
}
.bg-success {
    background-color: $success !important;
}
.bg-danger {
    background-color: $danger !important;
}

.alert-danger {
    background-color: rgba(230, 67, 72, 0.4);
    color: $white;
    border: 1px solid $danger;
}

.background_blue {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 50%;
    width: 100%;
    background-color: $primary;
    z-index: -1;
}
.background_top_blue {
    position: absolute;
    left: 0;
    top: 0;
    height: 50%;
    width: 100%;
    background-color: $primary;
    z-index: -1;
}

.background_green {
    position: absolute;
    left: 0;
    top: 0;
    height: 50%;
    width: 100%;
    background-color: $lightGreen;
    z-index: -1;
}