@import "variables";

* {
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
}

body {
    height: 100%;
    background-color: $lightGray;
}

/* ---------- CSS BoiteASel Header ---------- */
@import "header";

/* ---------- CSS BoiteASel Body ---------- */
@import "admin_members";
@import "login";

/* ---------- CSS BoiteASel Footer ---------- */

.text {
    color: $gray;
}
.text-primary {
    color: $primary !important;
}
.text-secondary {
    color: $secondary !important;
}
.text-accent {
    color: $accent !important;
}
.text-success {
    color: $success !important;
}
.text-alert {
    color: $alert !important;
}
text-white {
    color: $white;
}

.bg-primary {
    background-color: $primary !important;
}
.bg-secondary {
    background-color: $secondary !important;
}
.bg-accent {
    background-color: $accent !important;
}
.bg-success {
    background-color: $success !important;
}
.bg-alert {
    background-color: $alert !important;
}


.btn-primary {
    background-color: $primary;
    color: $white;
    border: $primary;

    &:hover {
        background-color: $lightBlue;
    }

    &:focus {
        background-color: $primary;
        color: $white;
        border: $primary;
        box-shadow: none;
    }
}

.btn-secondary {
    background-color: $secondary;
    color: $white;
    border: $secondary;

    &:hover {
        background-color: $lightBlue;
    }

    &:focus {
        background-color: $secondary;
        color: $white;
        border: $secondary;
        box-shadow: none;
    }
}
.btn-alert {
    background-color: $alert;
    color: $white;
    border: $alert;

    &:hover {
        background-color: $gray;
    }

    &:focus {
        background-color: $alert;
        color: $white;
        border: $alert;
        box-shadow: none;
    }
}

.btn-white {
    background-color: $white;
    color: $primary;
    border: $white;

    &:hover {
        background-color: $lightGray;
        color: $gray;
    }

    &:focus {
        background-color: $white;
        color: $primary;
        border: $white;
        box-shadow: none;
    }
}