{% extends 'base.html.twig' %}

{% block title %}Edit DutyType{% endblock %}

{% block body %}
    <h1>Edit DutyType</h1>

    {{ include('duty_type/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('duty_type_index') }}">back to list</a>

    {{ include('duty_type/_delete_form.html.twig') }}
{% endblock %}
