{{ form_start(form) }}
    <div class="text-justify text-white mt-4">
        <p>Pour créer un nouveau membre, veuillez renseigner les champs du formulaire ci-dessous. Un mail sera envoyé à
            l'adresse mail indiquée pour informer le nouveau membre de la création de son compte.</p>
    </div>

    {{ form_widget(form) }}

    <div class="text-center mt-4">
        <button class="btn btn-white">{{ button_label|default('Ajouter') }}</button>
    </div>

{{ form_end(form) }}
