{% extends 'base.html.twig' %}

{% block title %}Edit Member{% endblock %}

{% block body %}
    <main role="main" id="admin_member_edit">
        <div class="container-md">
            <div class="row">
                <div class="col-12">
                    <h1 class="h1 text-primary text-center mb-4">MODIFIER UN MEMBRE</h1>
                </div>

                {{ include('admin/members/_form_member.html.twig', {'button_label': 'Update'}) }}

            </div>
            <div id="background_blue"></div>
        </div>
    </main>
{% endblock %}
